<div class="container">
  <h1 class="text-uppercase display-1">Recipe Book</h1>
  <hr>
  <div class="row">
    <div class="col-xs-5">
      <app-recipe-list></app-recipe-list>
    </div>
    <div class="col-xs-7">
      <app-recipe-display></app-recipe-display>
      <app-recipe-edit></app-recipe-edit>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-5">
      <app-fridge-display></app-fridge-display>
    </div>
    <div class="col-xs-7">
      <app-shopping-list></app-shopping-list>
    </div>
  </div>
</div>
