<div class="row">
  <div class="col-xs-12">
    <a href="#" class="list-group-item clearfix" *ngFor="let recipe of service.recipes" (click)="service.select(recipe)">
      <div class="pull-left">
        <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
        <p class="list-group-item-text">A delicious {{ recipe.name }}!</p>
      </div>
    </a>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" (click)="service.showEditComponent = true; service.selectedItem = null;">New Recipe</button>
  </div>
</div>
<div class="form-inline ingredients">
  <hr>
  <label for="Retrieve Recipe">Retrieve Recipe</label>
  <br>
  <input type="number" class="form-control" placeholder="Recipe ID" [(ngModel)]="service.recipeID" style="margin: 1rem 1rem 0 0">
  <button type="button" class="btn btn-primary" (click)="service.getRecipe(service.recipeID)">Retrieve Recipe</button>
</div>
